
</main>
<footer class="page-footer black">
            <div class="container">
            © 2019 Memeodex<br/>
            Created by <a href='https://github.com/wasuen' target='_blank'>Austin Suen</a> & <a href='http://therealerinjohnson.com' target='_blank'>Erin Johnson</a><br/>
            Designed by <a href='https://www.anitachow.design' target='_blank'>Anita Chow</a> & <a href='https://www.jenniksloane.com' target='_blank'>Jenni Sloane</a>
            </div>
</footer>
</body>
</html>