<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' type='text/css' href='/css/style.css'>
    <title><%=title%></title>
</head>
<body>
    <main>
    <div class='siteName'>
        <img src='../../images/TrollFace.gif' class='logoImg'> Memeodex
    </div>
        <nav>
            <a href='/' class='navbar'> Home </a>
            <a href='/memes' class='navbar'> Memes </a>
            <a href='/users' class='navbar'> Users </a>
            <%if (userId) {%>
            <a href="/users/<%=userId%>" class='navbar'> Profile </a>
            <%}%>
        </nav>
