<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' type='text/css' href='/css/style.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script defer src="/app.js"></script>
    <script defer src="/js/script.js"></script>
    <meta description='Memeodex is a personal database curated by you, for you, to store links to your favorite memes - be it gifs, images, videos - if it lives on the internet, it can live in your database too!'/>
    <title><%=title%></title>
</head>
<body>
<div>
    <img src='/images/memecollage.png' class='banner'>
</div>
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo left">Memeodex</a>
    <a href="#" data-target="mobile-demo" id="hamburger-icon" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href="/memes">Memes</a></li>
        <li><a href="/users">Users</a></li>
        <%if (userId) {%>
        <li><a href="/users/<%=userId%>">Profile</a></li>
        <%}%>
        <%if(!isLogged) {%>
        <li><a href="/users/register">Register</a></li>
        <li><a id='myBtn'>Login</a></li>
        <div id="myModal" class="my-modal">
            <div class="modal-stuff">
                <span id="close">&times;</span>
                <div class="modal-text">
                    Log in to Memeodex
                </div>
                <form action="/users/login" method="POST">
                    <input type='text' name="username" placeholder='username' class="login-modal"><br/>
                    <input type='password' name="password" placeholder='password' class="login-modal"><br/>
                    <input type="submit" value="login" class="login-modal"/>
                </form>
            </div>
        </div>
        <%}%>
        <%if(isLogged){%>
            <li><a href="/logout">Logout</a></li>
        <%}%>
    </ul>
    </div>         
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <li><a href='/about'>About</a></li>
    <li><a href="/memes">Memes</a></li>
    <li><a href="/users">Users</a></li>
    <%if (userId) {%>
    <li><a href="/users/<%=userId%>">Profile</a></li>
    <%}%>
    <%if(!isLogged) {%>
    <li><a href="/users/register">Register</a></li>
    <li><a id='myBtn2'>Login</a></li>
        <div id="myModal2" class="my-modal">
            <div class="modal-stuff">
                <span id="close2">&times;</span>
                <div class="modal-text">
                    Login to my Memeodex
                </div>
                <form action="/users/login" method="POST">
                    <input type='text' name="username" placeholder='username' class="login-modal"><br/>
                    <input type='password' name="password" placeholder='password' class="login-modal"><br/>
                    <input type="submit" value="login" class="login-modal"/>
                </form>
            </div>
        </div>
    <%}%>
    <%if(isLogged){%>
        <li><a href="/logout">Logout</a></li>
    <%}%>
    </ul>
<main>
<div class='container'

