@font-face {
    font-family: 'impact';
    src: url('impact.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

.error-message {
    color: red;
    font-weight: bold;
}

body {
    background-color: rgb(148, 252, 247);
}

nav .brand-logo {
    font-family: 'impact';
    text-transform: uppercase;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    margin-left: 10px;
    font-size: 3.1rem !important;
}

nav .right {
    font-family: 'impact';
    text-transform: uppercase;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    margin-right: 10px;
}

ul {
    list-style: none;
}

li {
    list-style: none;
    display: block;
}

.memeImg {
    height: 155px;
    width: auto;
}

.meme-img-container {
    text-align: center;
    margin: 5px;
}

.all-meme-container {
    display: flex;
    flex-wrap: wrap;
}

.iframe-div {
    position:relative;
}

.iframe-link {
    position:absolute;
    top:0; 
    left:0; 
    display:inline-block; 
    width:357px;
    height:200px; 
    z-index:5;
}

footer {
    bottom:0;
    width:100%;
    height:60px;
}

.container {
    text-align: center;
}

input {
    text-align: center;
    width: 250px !important;
}

.login-modal {
    width: 150px !important;
}

/* The Modal */
.my-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-text{
    color: black !important;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    text-transform: none;
    text-shadow: none;
}

.modal-stuff {
    border-radius: 25px;
    border: 2px solid black;
    text-align: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 250px;
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    text-transform: none;
    text-shadow: none;
}
  
.close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}