@font-face {
    font-family: 'impact';
    src: url('impact.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: aquamarine;
}

main {
    height: 100%;
}

.logoImg {
    width: 50px;
    height: 50px;
}

.siteName {
    color: white;
    font-family: 'impact';
    text-transform: uppercase;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    text-align: center;
    font-size: 50px;
}

nav {
    text-align: center;
    font-family: 'impact';
    text-transform: uppercase;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.navbar {
    color: white;
    text-decoration: none;
}

.memeImg {
    height: 200px;
    width: auto
}

.iframe-div {
    position:relative;
}

.iframe-link {
    position:absolute;
    top:0; 
    left:0; 
    display:inline-block; 
    width:357px;
    height:200px; 
    z-index:5;
}

footer {
    bottom:0;
    width:100%;
    height:60px;
}