<%- include('../partials/header', {title: 'Memeodex: Create a Meme'})%>
<header>
    <h4>Create a Meme</h4>
</header>
    <main>
        <form action="/memes" method="post">
            Meme Title
            <input type="text" name="title" required/><br/>
            Meme Description
            <textarea name="description"></textarea><br/>
            Meme URL*^
            <input type="text" name="urlMeme" required/>
            <br/>
            <p>
                <label>
                    <input type="checkbox" />
                    <span>Check this box if this links to a video
            <p>*(Sorry, we can only embed youtube videos - see if your meme is available there!)<br>^Sorry! We are currently unable to support links from tenor.com</span>
                </label>
            </p>
            <br/>
            Meme Tags (use ',' to separate multiple tags)
            <input type="text" name="tag" /><br/>      
            <input type="submit" value="Publish Meme"/>
        </form>
    </main>
<%- include('../partials/footer')%>
