<%- include('../partials/header', {title: 'Memodex Meme Index'})%>
    <main>
        <form action="/memes" method="post">
            Meme Title
            <input type="text" name="title"/><br/>
            Meme Description
            <textarea name="body"></textarea><br/>
            Meme URL
            <input type="text" name="urlMeme" /><br/>        
            <input type="submit" value="Publish Meme"/>
        </form>
    </main>
<%- include('../partials/footer')%>
