<%- include('../partials/header', {title: 'Memodex User Index'})%>
<header>
    <h4>Memeodex Users</h4>
</header>
<main>
    <ul><%for (let i=0; i<users.length; i++) {%>
        <li><a href="/users/<%=users[i]._id%>"><%=users[i].username%></a></li>
    <%}%>
    </ul>
</main>
<%- include('../partials/footer')%>
