<%- include('../partials/header', {title: 'Memodex User Index'})%>
<header>
    <h4>Memeodex Users</h4>
</header>
<main>
    <ul class='user-show-button-container'><%for (let i=0; i<users.length; i++) {%>
        <li><a href="/users/<%=users[i]._id%>" class="clickable waves-effect waves-light user-show-button"><%=users[i].username%></a></li>
    <%}%>
    </ul>
</main>
<%- include('../partials/footer')%>
