<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' type='text/css' href='/css/style.css'>
    <title>Memeodex Registration</title>
</head>
<body>
    <main>
    <div class='siteName'>
        <img src='../../images/TrollFace.gif' class='logoImg'> Memeodex
    </div>
        <nav>
            <a href='/' class='navbar'> Home </a>
        </nav>
<header>
    <h1>REGISTER to use Memeodex</h1>
</header>
<main>
<span><%=message%></span>
<form action='/users' method='POST'>
Enter your name: <input type="text" name="name" placeholder='name'><br/>
Choose a username:<input id='username' type="text" name="username" placeholder='username'><br/>
Create a password: <input type="password" name='password' placeholder='password' required><br/> 
Please re-type your password:<input type="password" name='password-confirm' placeholder='confirm your password' required><br/> 
Enter your email: <input id='email' type="email" name="email" placeholder='email address' required><br/>
Date of birth:<input type='date' name='dob' required>
profileImg:<input type='text' name='profileImg'><br/>
<input type="submit" value="Register!"/>
</form>
</main>
<%- include('../partials/footer')%>
