REGISTRATION:
<form action='/users' method='POST'>
Enter your name: <input type="text" name="name" placeholder='name'><br/>
Choose a username:<input type="text" name="username" placeholder='username'><br/>
Create a password: <input type="password" name='password' placeholder='password' required><br/> 
Please re-type your password:<input type="password" name='password-confirm' placeholder='confirm your password' required><br/> 
Enter your email: <input type="email" name="email" placeholder='email address' required><br/>
Date of birth:<input type='date' name='dob' required>
profileImg:<input type='text' name='profileImg'>
<input type="submit" value="Register!"/>
</form>