<%- include('../partials/header', {title: 'Memeodex: Register'})%>
<span><img src='<%=image%>' width=400px height=auto/><br><%=message%></span>
<form action='/users' method='POST'>
Enter your name: <input type="text" name="name" placeholder='name'><br/>
Choose a username:<input id='username' pattern='.{3,}' title='username must be at least 3 characters long' type="text" name="username" placeholder='username'><br/>
Create a password:* <input type="password" id='password' pattern='.{6,}' title='password must be at least 6 characters in length' name='password' placeholder='password' required><br/>*must be a minimum of 6 characters in length<br/>
Please re-type your password:<input id='password-confirm' type="password" name='password-confirm' placeholder='confirm your password' required><br/> 
Enter your email: <input id='email' type="email" name="email" placeholder='email address' required><br/>
Date of birth:<input type='date' name='dob' required><br/>
<br/>
<input type="submit" value="Register!" class="clickable waves-effect waves-light user-show-button" id="register-user"/>
</form>
<br/>
</main>
<%- include('../partials/footer')%>
